/* navbar*/
.nav{
	color:orange;
}

#banner1{
     background-image:url("events-bg.jpg");
	 background-size: cover;
	 color: black;
	 height:90vh;
	 position: relative;
	 z-index:0;
}
  #banner1::after{
	content:"";
	position: absolute;
	opacity:0.5;
	background-color:black;
	top:0;
	bottom:0;
	right:0;
	left:0;
  }
  #banner1 .content1{
	color: white;
	position: absolute;
	z-index:1;
  }
   #banner1 .content1 h1{
	  margin-top: 15rem;
	  font-weight: 700;
   }
   .content1 p{
	font-size: 1.5rem;
	font-weight: 700;
	color:red;
   }
   .content1 span{
	color: aliceblue;
	position:relative;
   }
   .content1 span::after{
	content:"";
	position:absolute;
	margin: auto;
	top:35px;
	bottom:0;
	right:0;
	left:0;
	height: 0.2rem;
	width: 100%;
	background-color: aqua;
   }
   .social-icons{
	display: flex;
	
   }
   .icon {
     background-color:gray;
	 height: 35px;
	width:7%;
	border-radius: 50%;
	color: black;
	margin-left:0.8rem;
	margin-top: 1rem;
	padding-top: 6px;
   }
   .icon:hover{
	background-color:orange;
	color: aliceblue;
	transition:ease-in-out 0.2s;
   }
   .icon i{
	 margin-left: 0.4rem;
	 padding-top:10px;
   }

  /*about section*/
  #about-section{

  }
  .about-section{
	background-color:gray;
  }
   .about2{
	background-color:black ;
   }
  .content2 h1{
	color:white;
	text-align: center;
   }
   .content2{
	position: relative;
   }
   .content2 h1::after{
	content:"";
	position:absolute;
	top:45px;
	bottom:0;
	right:0;
	left:0;
	margin: auto;
	height: 0.2rem;
	width: 10%;
	background-color: aqua;
   }
   .about-img img{
	border-radius: 50%;
   }
   .about-icons span{
	display:flex;
	color: aqua;
   }
   .about-icons p{
	color:white;
   }
   .ic{
	display: flex;
   }
   .inpara{
	color: beige;
   }
   .ui h2{
	color: aqua;
   }
   .ui i{
	color: white;
	line-height: 1.2rem;
   }

   /*skill section*/
   .heading h1{
	position: relative;
	text-align: center;
   }
   .heading h1::after{
	content:"";
	position:absolute;
	top:45px;
	bottom:0;
	right:0;
	left:0;
	margin: auto;
	height: 0.2rem;
	width: 10%;
	background-color: aqua;
   }
   

   /*resume section*/
   #Resume-section{
	background-color:black;
	color: aliceblue;
   }
   .heading-resume{
	text-align: center;
	color:;
   }

   /*facts section*/
   .facts{
	background-color: bisque;
   }
  
