
	
	.imge img{
		border-radius: 50%;
	}
	.content1{
		text-align: center;
		padding-top: 13rem;
	}
	.content1 span{
		color: red;
	}
	.content1 h1{
		font-family:'Dancing Script', cursive;
		font-size:5rem;
	}
	.content1 p{
		font-size:1.5rem;
		font-weight: 100;
	}
   .social-icons{
	display: flex;
    justify-content: space-around;
   }
   .icon{
	color: red;
	font-size: 2.5rem;
   }
   

  /*about section*/
  #about-section{

  }
  .about-section{
	background-color:black;
  }
   .about2{
	background-color:black ;
   }
   .a span{
	color:orange;
   }
   .b{
	color: red;
   }
  .content2 h1{
	color:white;
	text-align: center;
	font-family:'Caveat', cursive;
	font-size: 6rem;
   }
   .content2{
	position: relative;
   }
   .content2 h1::after{
	content:"";
	position:absolute;
	top:98px;
	bottom:0;
	right:0;
	left:0;
	margin: auto;
	height: 0.1rem;
	width: 20%;
	background-color: aqua;
   }
   .about-img{
     color: aliceblue;
	 font-size: 13rem;
   }
   .about-icons span{
	display:flex;
	color: orange;
   }
   .about-icons p{
	color:white;
   }
   .ic{
	display: flex;
   }
   .inpara{
	color: beige;
   }
   .ul h2{
	color: orange;
   }
   .ul span{
	color: red;
   }
   .ul p{
	color: aliceblue;
	font-size: 1.5rem;
   }
   .ui i{
	color: white;
	line-height: 1.2rem;
	font-size:1.5rem;
   }

   /*skill section*/
   .heading h1{
	position: relative;
	text-align: center;
   }
   .heading h1::after{
	content:"";
	position:absolute;
	top:48px;
	bottom:0;
	right:0;
	left:0;
	margin: auto;
	height: 0.1rem;
	width: 7%;
	background-color:gray;
   }
   .heading span{
	color: red;
	font-size: 3rem;
   }
   .progress-bar{
	background-color: none;
	color: aliceblue;
   }
   

   /*resume section*/
   #Resume-section{
	background-color:black;
	color: aliceblue;
   }
   .heading-resume{
	text-align: center;
	position: relative;
   }
   .heading-resume::after{
	content:"";
	position:absolute;
	top:0px;
	bottom:5px;
	right:0;
	left:0;
	margin: auto;
	height: 0.1rem;
	width: 10%;
	background-color: aqua;
   }
   .heading-resume span{
	color: red;
   }

   /*facts section*/
   .facts{
	background-color: bisque;
   }
  
   .pro span{
	color: red;
   }
   .pro a{
	background-color: aqua;
	text-align: center;
	list-style-type: none;
   }